<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Tech4kek</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div th:each="Computer: ${ComputerListe}" class="jumbotron">
            <h4 th:text="${Computer.getComputerdetails().getDetailName()}">Name</h4><br>
            <div class="row">
                <div class="col-4">
                    <img th:src="@{${'/pictures/products/'+Computer.getItemId()+'.jpg'}}" style="width: 100%">
                </div>
                <div class=col-8>
                    <p th:text="${Computer.getComputerdetails().getCpuName()}">Name</p>
                    <p th:text="${Computer.getComputerdetails().getGpu()}">CPU</p>
                    <p th:text="${Computer.getComputerdetails().getPrice()}+'€'">Preis</p>
                    <a th:href="@{/item(id=${Computer.getItemId()})}">Jetzt Kaufen</a>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>
</html>