.dokumentation{
    width: 1000px;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    color: #c2c2c2;
}

.dokumentation h1, h2, a{
    color: #FF6E00;
}

img{
    width: 500px;
}

@media screen and (max-width: 768px){
    .impressum{
        width: 100%;
    }
}