@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap');

@font-face {
    src: url(assets/fonts/Yellowtail-Regular.ttf);
    font-family: Yellowtail;
}

:root {
    --main-bg-color: rgb(65, 65, 65);
}

*{
    margin: 0;
	
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: var(--main-bg-color);
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: rgb(59, 59, 59); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #FF6E00; 
	border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

.content-wrap{
    flex: 1 0 auto;
	margin-top: 135px;
}

header{
    vertical-align: middle;
}

nav{
    background-color: #FF6E00;
    position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
}

.stripe{
	background-color: var(--main-bg-color) !important;
}

.logo{
	width: 200px;
}

nav .left {
	float: left ;
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	align-items:center;
}

nav .left li {
	list-style: none;
}
nav .left a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

nav li a:hover{
	color: #FF6E00;
	background-color: #2D2D2D;
}

nav .right {
	float: right;
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	align-items: center;
}

nav .left label{
	float: right !important;
}

nav .right li {
	list-style: none;
}
nav .right a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
}

nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #FF6E00;
	min-width: 160px;

  }

  .dropdown:hover .dropdown-content {
	display: block;
  }
  

footer{
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgb(59, 59, 59);
    text-align: center;
}

footer a{
    color: black;
    padding:10px;
}

footer a:hover{
    color: white;
}
  



@media screen and (max-width: 992px) {

	body{

	}

	.content-wrap{
		margin-top: 93px;
	}

	.logo {
		width: 95px;
	}
    
    nav .left{
        display: flex;
        float: none;
        justify-content: space-around;
        align-items: center;
    }

	nav .right {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow:auto;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .right a {
		font-size: 20px;
	}
	nav :checked ~ .right {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}

}

