*{
    
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
    width: 700px;
    background-color: #2D2D2D;   
    color: #FF6E00;
}

form{
    text-align: left;
    width: 40%;
    margin: auto;
}

.login input{
    padding: 0px;
    height: 20px;
    width: 100%;
    border: none;
    color: white;
    background-color: #212121;
}

.login input[type=password], input[type=email]{
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #212121 inset;
}

.login input[type=password]:hover, input[type=email]:hover{
    background-color: #191919;
    -webkit-box-shadow: 0 0 0px 1000px #191919 inset;
}

.check{
    width: 20px !important;
}

.loginButton{
    font-size: large;
    cursor: pointer;
    height: 50px !important;
    -webkit-text-fill-color: #FF6E00 !important;
}

.loginButton:hover{
    background-color: #191919;
    -webkit-box-shadow: 0 0 0px 1000px #191919 inset;
}

.error{
    color: #FF6E00;
    font-size: large;
    text-align: center;
}

.registerNow{
    color: #8d0000;
    font-size: larger;
}

.noAcc{
    text-align: center;
    width: 100%;
}


.registerNow:hover{
    color: #bd0000;
}



@media screen and (max-width: 768px){

    .login{
        width: 100%;
    }

    form{
        width: 60%;
    }
}

@media screen and (max-width: 500px){

    .login{
        width: 100%;
    }

    form{
        width: 80%;
    }
}