*{
    color: white;
    text-decoration: none;
    font-size: large;
}

h1{
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.productTable{
    display: table;
    text-align: center;
    margin: 0px auto;
}

.col{
    padding:10px
}


.productTable .tableHeader{
    display: table-header-group;
}

.productTable .row{
    display: table-row;
}

.productTable .col{
    display: table-cell;
    vertical-align: middle;
}

.productTable .tableBody{
    display: table-row-group;
}

.productTable .imageContainer{

    white-space: nowrap;
    border-right: none;
}

.productTable .noRightBorder{
    border-right: 0px;
}

.delete{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.number-input {
    display: inline-flex;
  }

  .number-input input[type=number]::-webkit-inner-spin-button,
  .number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    padding: 0;
    outline:none;
    -webkit-appearance: none;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    font-size: 40px;
  }
  
  .number-input input[type=number] {
    max-width: 50px;
    height: 50px;
    border: none;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
  }
  
  .img{
      width: 150px;
  }

  .empty{
      margin-top: 10%;
      text-align: center;
      font-size: 50px;
      color: #FF6E00;
      font-weight: bold;
      font-style: italic;
  }

  .summary{
      width: 300px;
      margin: auto;
      margin-bottom: 150px;
      text-align: center;
  }

  .payButton{
    border: none;
    font-size: large;
    cursor: pointer;
    height: 50px !important;
    background-color: #FF6E00;
    padding: 0px;
  }

  .payButton:hover{
    background-color: #dd6000;
  }