.landing{
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(../pictures/home.jpg) no-repeat center;
  background-size: cover;
  text-align: left;
  color: white;
}

.container{
  position: absolute;
  top: 30%;
  left: 30%;
}

.payment h2{
  text-align: center;
  color: white;
}

.paymentPicture{
  display: flex;
  margin: auto;
  justify-content: center; 
  align-items: center;
}

.paymentPicture img{
  width: 15%;
  max-width: 200px;
}

.text{
  color: white;
  position: absolute;
  left: 20%;
  top: 50%;

}
